{
  "log": {
    "_recordingName": "should collect data",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "1dab82a724c7830dbea499eacddbe7b3",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sentry.io/api/0/organizations/creativice/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 9750,
            "text": "{\"id\":\"4504015469674496\",\"slug\":\"creativice\",\"status\":{\"id\":\"active\",\"name\":\"active\"},\"name\":\"Creativice\",\"dateCreated\":\"2022-10-20T10:34:10.171163Z\",\"isEarlyAdopter\":false,\"require2FA\":false,\"requireEmailVerification\":false,\"avatar\":{\"avatarType\":\"letter_avatar\",\"avatarUuid\":null},\"features\":[\"issue-details-owners\",\"am2-billing\",\"custom-event-title\",\"event-attachments\",\"widget-viewer-modal\",\"integrations-deployment\",\"dashboard-grid-layout\",\"performance-transaction-name-only-search-indexed\",\"integrations-stacktrace-link\",\"auto-start-free-trial\",\"discover-query-builder-as-landing-page\",\"promotion-mobperf-discount20\",\"performance-issues-ingest\",\"performance-span-histogram-view\",\"performance-dry-run-mep\",\"discover-frontend-use-events-endpoint\",\"promotion-be-adoption-enabled\",\"shared-issues\",\"performance-view\",\"open-membership\",\"mobile-app\",\"promotion-mobperf-gift50kerr\",\"metrics-extraction\",\"performance-frontend-use-events-endpoint\",\"performance-mep-bannerless-ui\",\"mep-rollout-flag\",\"performance-issues-all-events-tab\",\"widget-library\",\"alert-crash-free-metrics\",\"minute-resolution-sessions\",\"slack-overage-notifications\",\"enable-zendesk-support\",\"dashboards-top-level-filter\",\"release-health-return-metrics\",\"onboarding\",\"symbol-sources\",\"performance-onboarding-checklist\",\"org-subdomains\",\"server-side-sampling\",\"performance-issues-post-process-group\",\"invite-members-rate-limits\",\"dynamic-sampling\",\"ondemand-budgets\",\"metric-alert-chartcuterie\",\"dashboards-template\",\"discover-events-rate-limit\",\"profiling\",\"performance-issues\",\"mobile-screenshots\",\"advanced-search\",\"new-weekly-report\"],\"links\":{\"organizationUrl\":\"https://creativice.sentry.io\",\"regionUrl\":\"https://us.sentry.io\"},\"hasAuthProvider\":false,\"experiments\":{\"OnboardingHighlightWizardExperiment\":1,\"MobilePerformanceAdoptionExperiment\":1},\"quota\":{\"maxRate\":null,\"maxRateInterval\":60,\"accountLimit\":0,\"projectLimit\":100},\"isDefault\":false,\"defaultRole\":\"member\",\"availableRoles\":[{\"id\":\"billing\",\"name\":\"Billing\"},{\"id\":\"member\",\"name\":\"Member\"},{\"id\":\"admin\",\"name\":\"Admin\"},{\"id\":\"manager\",\"name\":\"Manager\"},{\"id\":\"owner\",\"name\":\"Owner\"}],\"orgRoleList\":[{\"id\":\"billing\",\"name\":\"Billing\",\"desc\":\"Can manage subscription and billing details.\",\"scopes\":[\"org:billing\"],\"allowed\":false,\"isAllowed\":false,\"isRetired\":false,\"is_global\":false,\"isGlobal\":false,\"minimumTeamRole\":\"contributor\"},{\"id\":\"member\",\"name\":\"Member\",\"desc\":\"Members can view and act on events, as well as view most other data within the organization.\",\"scopes\":[\"alerts:read\",\"project:read\",\"event:write\",\"member:read\",\"alerts:write\",\"event:read\",\"org:read\",\"team:read\",\"project:releases\",\"event:admin\"],\"allowed\":false,\"isAllowed\":false,\"isRetired\":false,\"is_global\":false,\"isGlobal\":false,\"minimumTeamRole\":\"contributor\"},{\"id\":\"admin\",\"name\":\"A[...]
