{
  "log": {
    "_recordingName": "should collect data",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "1dab82a724c7830dbea499eacddbe7b3",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sentry.io/api/0/organizations/creativice/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 9779,
            "text": "{\"id\":\"4504015469674496\",\"slug\":\"creativice\",\"status\":{\"id\":\"active\",\"name\":\"active\"},\"name\":\"Creativice\",\"dateCreated\":\"2022-10-20T10:34:10.171163Z\",\"isEarlyAdopter\":false,\"require2FA\":false,\"requireEmailVerification\":false,\"avatar\":{\"avatarType\":\"letter_avatar\",\"avatarUuid\":null},\"features\":[\"discover-query-builder-as-landing-page\",\"auto-capture-page-load-analytics\",\"symbol-sources\",\"performance-frontend-use-events-endpoint\",\"integrations-deployment\",\"promotion-mobperf-gift50kerr\",\"custom-event-title\",\"org-subdomains\",\"discover-events-rate-limit\",\"new-weekly-report\",\"shared-issues\",\"invite-members-rate-limits\",\"server-side-sampling\",\"enable-zendesk-support\",\"ondemand-budgets\",\"metric-alert-chartcuterie\",\"discover-frontend-use-events-endpoint\",\"performance-issues-ingest\",\"integrations-stacktrace-link\",\"slack-overage-notifications\",\"performance-transaction-name-only-search-indexed\",\"onboarding\",\"auto-start-free-trial\",\"promotion-be-adoption-enabled\",\"event-attachments\",\"mobile-screenshots\",\"metrics-extraction\",\"release-health-drop-sessions\",\"performance-issues-all-events-tab\",\"am2-billing\",\"advanced-search\",\"open-membership\",\"performance-dry-run-mep\",\"alert-crash-free-metrics\",\"widget-viewer-modal\",\"mep-rollout-flag\",\"performance-issues-post-process-group\",\"performance-view\",\"performance-onboarding-checklist\",\"dashboards-top-level-filter\",\"widget-library\",\"performance-issues\",\"minute-resolution-sessions\",\"performance-mep-bannerless-ui\",\"release-health-return-metrics\",\"promotion-mobperf-discount20\",\"dashboards-template\",\"profiling\",\"dynamic-sampling\",\"performance-span-histogram-view\",\"issue-details-owners\"],\"links\":{\"organizationUrl\":\"https://creativice.sentry.io\",\"regionUrl\":\"https://us.sentry.io\"},\"hasAuthProvider\":false,\"experiments\":{\"OnboardingHighlightWizardExperiment\":1,\"MobilePerformanceAdoptionExperiment\":1},\"quota\":{\"maxRate\":null,\"maxRateInterval\":60,\"accountLimit\":0,\"projectLimit\":100},\"isDefault\":false,\"defaultRole\":\"member\",\"availableRoles\":[{\"id\":\"billing\",\"name\":\"Billing\"},{\"id\":\"member\",\"name\":\"Member\"},{\"id\":\"admin\",\"name\":\"Admin\"},{\"id\":\"manager\",\"name\":\"Manager\"},{\"id\":\"owner\",\"name\":\"Owner\"}],\"orgRoleList\":[{\"id\":\"billing\",\"name\":\"Billing\",\"desc\":\"Can manage subscription and billing details.\",\"scopes\":[\"org:billing\"],\"allowed\":false,\"isAllowed\":false,\"isRetired\":false,\"is_global\":false,\"isGlobal\":false,\"minimumTeamRole\":\"contributor\"},{\"id\":\"member\",\"name\":\"Member\",\"desc\":\"Members can view and act on events, as well as view most other data within the organization.\",\"scopes\":[\"event:write\",\"alerts:write\",\"event:admin\",\"project:releases\",\"org:read\",\"alerts:read\",\"event:read\",\"member:read\",\"team:read\",\"project:read\"],\"allowed\":false,\"isAllowed\":false,\"isRetired\":false,\"is_global\":false,\"isGlobal\":false,\"minimumTeamRole\":\"contributor\"},{\"id\":\"admin\",\"name\":\"A[...]
